
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
img{
    width: 100%;
}
.section-title{
    color: goldenrod;
    text-align: center;
    font-size: 2em;
}
/* header style*/

.header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0, 50px;
}

.header-logo img{
    width: 100px;

}
.header-left{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 50px;
}
nav ul{
    display: flex;
    gap: 15px;
}
nav ul li>a{
    color: white;
}
nav ul li>a:hover{
    color: rgb(179, 182, 28);
}
nav .login-register{
    display: none;
}
.header-right{
    display: flex;
    margin-right: 50px;
}
span{
    color: white;
}

.login-register a{
    background-color: rgb(179, 182, 28);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
}
.login-register a:hover{
    background-color:rgb(234, 238, 17) ;
}
.hamburger i{
    color: white;
    display: none;
}

/* banner style */

 .banner-slider .slick-slider{
margin-bottom: 0;
 }
 .banner-slider .slick-dots{
    width: 100%;
    bottom: 6%;
 }
 .banner-slider .slick-dots li button::before{
    font-size: 32px;
    color: #ffff;
    background-color: green;
    border-radius: 50%;
    opacity: 1;
 }
 .banner-slider .slick-dots li.slick-active button::before{
    color: #ffff;
    background-color: rgb(25, 11, 211);
 }

 .banner-slider .slick-arrow{
    position: absolute;
    top: 50%;
    display: block;
    /* z-index: 9; */
    /* transform: translate(0, -50%); */
    cursor: pointer;
    margin: 0 1.5em;
    font-size: 2em;
    color: white;
  
 }
 .banner-slider .slick-arrow:hover{
    color: rgb(80, 78, 78);
 }
 .banner-slider .fa-solid.fa-arrow-left.slick-arrow{
    
    display: block;
    z-index: 11;
 }
 
 
 .banner-slider .fa-solid.fa-arrow-right.slick-arrow{
    display: block;
    z-index: 12;
    position: absolute;
    right: 10px;
    width: 5%;
 }
 


#slider-one{
    background-image: linear-gradient(rgba(224, 203, 11, 0.452), rgba(196, 209, 17, 0.438)), url(../images/1.png);
    
 
}
#slider-two{
    background-image:  linear-gradient(rgba(224, 203, 11, 0.452), rgba(196, 209, 17, 0.438)), url(../images/2.png);

}
#slider-three{
    background-image:  linear-gradient(rgba(224, 203, 11, 0.452), rgba(196, 209, 17, 0.438)), url(../images/3.png);

}
#slider-four{
    background-image:  linear-gradient(rgba(224, 203, 11, 0.452), rgba(196, 209, 17, 0.438)), url(../images/4.png);

}
.slider{
    /* background-image:  linear-gradient(rgba(224, 203, 11, 0.452), rgba(196, 209, 17, 0.438)), url(../images/1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 50px 80px;
    
    }

.slider-content{
color: white;
border: 2px solid yellow;
border-bottom: none;
padding: 15px;
width: 45%;
position: relative;
top: 200px;


}
.slider-content h2{
font-size: 3em;
}
.slider-content h2 span{
    color:rgb(238, 241, 12) ;
   
}

.btn-wrap{
margin-top: 2em;
}

.btn-view-more{
border: 2px solid white;
background: none;
padding: 10px 20px;
border-radius: 8px;
margin-right: 15px;
}
.btn-portfolio{
    background-color:rgb(234, 238, 17) ;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;

}
.btn-portfolio:hover{
    background-color:rgb(194, 191, 11) ;
}

/* section about us style */
.section-container{
    max-width: 999px;
    margin: 70px auto;
    

}
.about-container{
display: flex;
align-items: center;
margin: 20px 0 20px;
padding: 20px 10px;
box-shadow: 10px 10px 20px 10px rgba(53, 53, 53, 0.356);
border-radius: 5px;
}
.about-video{
    font-size: 3em;
    width: 50%;
    text-align: center;
    background-image: url(../images/bani-profile.png);
    background-size: cover;
    height: 80vh;
    background-position: center;

    
}

.about-video i{
    background-color: azure;
    color: green;
    position: relative;
    top: 200px;
    border-radius: 50%;
 
}
.about-content{
    width: 50%;
    line-height: 35px;
    
}
.about-us-title{
    font-size: 3em;
    color: rgb(109, 109, 35);
    
}
.about-sub-title{
    color: rgb(179, 182, 28);
    font-size: 1.5em;
    margin-bottom: 20px;

}
.btn-primary{
    background-color: rgb(179, 182, 28);
    padding: 10px 20px;
   margin: 20px 0;
    border-radius: 5px;
    color: white;
    border: none;

}

.btn-primary:hover{
    background-color:rgb(234, 238, 17) ;
    color: black;
    font-weight: bold;
}

/* gellary style */
.gl-image-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
    background-color: rgb(234, 247, 211);
    padding: 20px;
    
}
.gallery-image img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}















/* responsive style */
/* medium device */
@media screen and (min-width:576px) and (max-width:960px){
    

   .header{
    padding: 0, 10px;
   
   } 
   .header-right .hamburger i{
    cursor: pointer;
    display: block;
    margin-left: 20px;
    align-items: center;
   }
   .header-left nav{
    margin: 0;
    position: absolute;
    top: -100%;
    left: 0;
    height: fit-content;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.4s;
    z-index: 10;
    padding: 30px;

   }
   .header-left nav .active{
    top: 70px;
}
.header-left nav ul{
    display: block;
}


}
